#root{
    position: relative;
    width: 1025px;
    height: 839px;

}

#hanging{
    position:absolute;
    top: 59px;
    left: 38px;
    width: 400px;
}

#start-btn{
    position: absolute;
    top: 89px;
    right: 53px;
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height:23.44px;
    border-radius: 8px;
}
.invisible{
    opacity: 0;
}

.correct{
    color: #27AE60;
}
.incorrect{
    color: red;
}

:disabled{
   background-color: #9FAAB5;
}

#letters-container{
    position:absolute;
    top: 596px;
    left: 211px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 664px;
    height:auto;
    gap: 12px;
}

.letter-btn{
    width: 40px;
    height: 40px;
    color: #39739D;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

button{
    background-color: #E1ECF4;
}

#word-space{
    position: absolute;
    top: 431px;
    right: 61px;
    min-width: 323px;
    height: 68px;
    font-family: Noto Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 12px 0 12px;

}

#bonus{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 56px;
    left: 231px;
    width: 624px;
    height: 40px;
    gap: 12px;
}

#answer{
    width: 353px;
    height: 38px;

}

#chute-phrase{
width: 144px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
justify-content: center;


color: #000000;
}

#send-answer{
    width: 100px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1ECF4;
    color: #3C76A1;
}